:root {
    --primary-color: #aaaaaa;
    --secondary-color:#267cd2;
    --background-color: #000000;

    --font-small: 10px;
    --font-medium: 22px;
    --font-large: 36px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html, body, #root {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
